#fieldsContainer {
  vertical-align: top;
  padding: 5px;
  padding-right: 20px;
}
/* .fieldContainer {
  padding-right: 20px;
} */
.fieldName {
  color: #0049c7;
}
.fieldValue {
  font-weight: lighter;
}
