* {
  font-family: Ibm Plex Sans;
  font-size: 14px;
  font-weight: 700;
}
body {
  margin: 0;
  padding: 0;
}
.mainBody {
  padding: 5px;
}
input {
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 15px;
}
button, .pageBtn {
  border: 1px solid #c6cace;
  padding: 10px;
  border-radius: 4px;
  color: #0049c7;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.08);
  cursor: pointer;
}
button:hover, .pageBtn:hover {
  background-color: #d9e8f6;
}
.pageBtn {
  padding: 3px;
  margin: 2px;
  width: 400px;
}
